  <!-- Start Service area -->
<div id="services" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="services-contents">
                <!-- Start Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-code"></i>
                                </a>
                                <h4>ERP implementation</h4>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-text">
                                            <p>
                                                <span style="color: #fcb042;"><strong>SBC</strong> </span>  is a member of international implementation consultant’s society of LOGO, and implements ERP Business s using the best practices in different industries.
                                            </p>
                                        </div>
                                        <span>
                                            <a href="@Url.Action("servicesDetails", "Home",new { type = 1 })" class="ready-btn">Read more</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-camera-retro"></i>
                                </a>
                                <h4>ERP Training</h4>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-text">
                                            <p>
                                                To create a bridge between job seekers and organizations that require experts in SBC  ERP Business s and ERP Business s in general
                                            </p>
                                        </div>
                                        <span>
                                            <a href="@Url.Action("servicesDetails", "Home",new { type = 2 })" class="ready-btn">Read more</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-wordpress"></i>
                                </a>
                                <h4>Customization</h4>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-text">
                                            <p>
                                                According to special requirements in each organization, it is possible for customers to customize the Business  to address their requirements or integrate their current systems with  <span style="color: #fcb042;"><strong>SBC</strong> </span> Business s.
                                            </p>
                                        </div>
                                        <span>
                                            <a href="@Url.Action("servicesDetails", "Home",new { type = 3 })" class="ready-btn">Read more</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-camera-retro"></i>
                                </a>
                                <h4>Customers’ Portal </h4>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-text">
                                            <p>
                                                Customer portal is the communication channel between <strong>BARG</strong> System and the customers in which they can access all the training documents and knowledge bases.
                                            </p>
                                        </div>
                                        <span>
                                            <a href="@Url.Action("servicesDetails", "Home",new { type = 4 })" class="ready-btn">Read more</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-camera-retro"></i>
                                </a>
                                <h4>Support</h4>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-text">
                                            <p>
                                                For every project  <strong>SBC </strong> will sign a SLA with its customers and provide them with the support needed to run their Business  smoothly.
                                            </p>
                                        </div>
                                        <span>
                                            <a href="@Url.Action("servicesDetails", "Home",new { type = 5 })" class="ready-btn">Read more</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service area --->